/* default color: #013766 */
.feature-box i,
.feature-box-small-icon i,
.blog-list .date,
.date-box .month,
.blog-read .date,
.slider-info .text1,
#filters a.selected,
span.overlay,
#testimonial-full,
.widget_tags li a,
.btn-primary,
.bg-id-color
{
	background:#06274a;
}

#mainmenu li:hover > ul,
.date-box .day,
.slider_text h1,
.id-color,
.pricing-box li h1,
.title span,
a, a:visited,
i.large:hover{
	color:#06274a;
}

#filters a:hover,
#filters a.selected
{
	border-color:#06274a;
}

.callbacks_nav_category {
	background-color:#06274a;
}

/* Reset */
.nav_category,
.nav_category a,
.nav_category ul,
.nav_category li,
.nav_category div,
.nav_category form,
.nav_category input {
	margin: 0;
	padding: 0;
	border: none;
	outline: none;
}

.nav_category a { text-decoration: none; }

.nav_category li { list-style: none; }

/* Menu Container */
.nav_category {
	display: inline-block;
	position: relative;
	cursor: default;
	z-index: 500;
}

/* Menu List */
.nav_category > li {
	display: block;
	float: left;
}

/* Menu Links */
.nav_category > li > a {
	position: relative;
	display: block;
	z-index: 510;
	height: 54px;
	padding: 0 20px;
	line-height: 54px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #fcfcfc;
	text-shadow: 0 0 1px rgba(0,0,0,.35);

	background: #372f2b;
	border-left: 1px solid #4b4441;
	border-right: 1px solid #312a27;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.nav_category > li:hover > a { background: #4b4441; }

.nav_category > li:first-child > a {
	border-radius: 3px 0 0 3px;
	border-left: none;
}

/* Search Form */
.nav_category > li.nav_category-search > form {
	position: relative;
	width: inherit;
	height: 54px;
	z-index: 510;
	border-left: 1px solid #4b4441;
}

.nav_category > li.nav_category-search input[type="text"] {
	display: block;
	float: left;
	width: 1px;
	height: 24px;
	padding: 15px 0;
	line-height: 24px;

	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #999999;
	text-shadow: 0 0 1px rgba(0,0,0,.35);

	background: #372f2b;

	-webkit-transition: all .3s ease 1s;
	-moz-transition: all .3s ease 1s;
	-o-transition: all .3s ease 1s;
	-ms-transition: all .3s ease 1s;
	transition: all .3s ease 1s;
}

.nav_category > li.nav_category-search input[type="text"]:focus { color: #fcfcfc; }

.nav_category > li.nav_category-search input[type="text"]:focus,
.nav_category > li.nav_category-search:hover input[type="text"] {
	width: 110px;
	padding: 15px 20px;

	-webkit-transition: all .3s ease .1s;
	-moz-transition: all .3s ease .1s;
	-o-transition: all .3s ease .1s;
	-ms-transition: all .3s ease .1s;
	transition: all .3s ease .1s;
}

.nav_category > li.nav_category-search input[type="submit"] {
	display: block;
	float: left;
	width: 20px;
	height: 54px;
	padding: 0 25px;
	cursor: pointer;

	background: #372f2b url(../img/search-icon.png) no-repeat center center;

	border-radius: 0 3px 3px 0;

	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-o-transition: all .3s ease;
	-ms-transition: all .3s ease;
	transition: all .3s ease;
}

.nav_category > li.nav_category-search input[type="submit"]:hover { background-color: #4b4441; }

/* Menu Dropdown */
.nav_category > li > div {
	position: absolute;
	display: block;
	width: 100%;
	top: 50px;
	left: 0;

	opacity: 0;
	visibility: hidden;
	overflow: hidden;

	background: #ffffff;
	border-radius: 0 0 3px 3px;

	-webkit-transition: all .3s ease .15s;
	-moz-transition: all .3s ease .15s;
	-o-transition: all .3s ease .15s;
	-ms-transition: all .3s ease .15s;
	transition: all .3s ease .15s;
}

.nav_category > li:hover > div {
	opacity: 1;
	visibility: visible;
	overflow: visible;
}

/* Menu Content Styles */
.nav_category .nav_category-column {
	float: left;
	width: 20%;
	padding: 2.5%;
}

.nav_category .nav_category-column h3 {
	margin: 20px 0 10px 0;
	line-height: 18px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 14px;
	color: #372f2b;
	text-transform: uppercase;
}

.nav_category .nav_category-column h3.orange { color: #ff722b; }

.nav_category .nav_category-column li a {
	display: block;
	line-height: 26px;
	
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
	font-size: 13px;
	color: #888888;
}

.nav_category .nav_category-column li a:hover { color: #666666; }